/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar {
  width: 600px;
  max-width: 90%;
  padding: 14px 20px;
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
}

.searchBar:focus {
  border-color: #0070f3;
}




